{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        ;scad-clj/scad-clj {:mvn/version "0.5.3"}
        io.helins/linux.gpio {:mvn/version "2.0.1"}}
 :aliases
 {:nrepl {:extra-deps {nrepl/nrepl {:mvn/version "0.5.3"}}
          :main-opts ["-m" "nrepl.cmdline"
                      "-b" "0.0.0.0"
                      "-p" "12345"]}
  :led1 {:exec-fn pi.demo/start-app}}
 ;
 }